@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('../fonts/NanumGothicCoding-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}


.navbar-text {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: orange !important;
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;

    color: white !important;
}   

.nav-link:hover {
    color: #6F9CEB !important;
}

.active {
    color: #A9CEF4 !important;
}
