{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/books_list.css' %}">
{% endblock extra_head %}

{% block extra_title %}
    Список книг
{% endblock extra_title %}

{% block links %}
    <li class="nav-item mr-5">
        <a href="/" class="nav-link active">Список</a>
    </li>
    <li class="nav-item mr-5">
        <a href="{% url 'p_library:account' %}" class="nav-link ">Аккаунт</a>
    </li>
{% endblock links %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for book in object_list %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center">
                        <img src="{{ book.photo.url }}" class="card-img-top" alt="Фото книги">
                        <div class="card-body">
                            <h5 class="card title">{{ book.title }}</h5>
                            {% for author in book.authors.all %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ author }}</h6>
                            {% endfor %}
                            <p class="card-text">{{ book.description|make_list|slice:":100"|join:"" }}...</p>
                            <a href="/book/{{ book.pk }}" class="btn btn-primary">Полное описание</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}